{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'learning_log_project/staticfiles/styles.css' %}">
        <title>LEARNING LOG</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}

    </head>

    <body style="background-color: burlywood;">

        <!-- Static Navbar -->
        <nav class="navbar navbar-default navbar-static-top" style="background-color:black; font-family: Impact; font-size:larger;">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'learning_logs:index' %}" style="color:white ;">
                    LEARNING LOG
                </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'learning_logs:topics' %}" style="color: white;">TOPICS</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a style="color: white;">HELLO, {{ user.username }}.</a></li>
                            <li><a href="{% url 'users:logout' %}" style="color: white;">LOG OUT</a></li>
                        {% else %}
                            <li><a href="{% url 'users:register' %}" style="color: white;">REGISTER</a></li>
                            <li><a href="{% url 'users:login' %}" style="color: white;">LOG IN</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            
            </div>
        </nav> 

        <div class="container" style="color: black;">

            <div class="page-header" style="color: black;">
                {% block header %}{% endblock header %}
            </div>
            <div style="color: black;">
                {% block content %}{% endblock content %}
            </div>
        </div> <!--/container-->
    </body>
</html>
