{%  extends "learning_logs/base.html" %}

{% block header %}
    <h1 style="font-weight: bold; font-family: Georgia, 'Times New Roman';">TOPICS</h1>
{% endblock header %}

{% block content %}

<ul style="margin: 0; padding: 0; background-color: wheat; border-style: double; border-width: 6px;">
    {% for topic in topics %}
    <li style="display: block;">
        <h2 style="font-family: 'Franklin Gothic Medium';">
    </li>
    {% empty %}
    <li style="display: block;"><h2 style="font-family: 'Franklin Gothic Medium';">No Topics Have Been Added Yet...</h2></li>
    {% endfor %}
</ul>

<h2 style="font-family: 'Franklin Gothic Medium';"><a href="{% url 'learning_logs:new_topic' %}" style="color:darkred; text-decoration: none;" onmouseover="this.style.color='white'" onmouseout="this.style.color='#8b0000'">Add A New Topic?</a></h2>

{% endblock content %}